<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
    <h1>Login</h1>
    <form method="POST" action="/login">
        <label for="email">E-mail:</label>
        <input type="text" id="email" name="email" required><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>
        <input type="submit" value="Login">
    </form>
    <p>Not a user? <a href="/signup">Signup</a></p>
    <p>Forgot Password? <a href="/forgot_password">Click Here</a></p> <!-- Redirect to forgot password page -->
</body>
</html>