<!DOCTYPE html>
<html>
<head>
    <title>Signup</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
    <h1>Signup</h1>
    <form method="POST" action="{{ url_for('signup') }}">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required><br>
        <label for="email">E-mail:</label>
        <input type="text" id="email" name="email" required><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>
        <div id="phone-error-message"></div> <!-- Error message element -->
        <input type="submit" value="Sign Up">
    </form>
    <p>Already have an account? <a href="{{ url_for('index') }}">Login</a></p> <!-- Redirect to login page -->
</body>
</html>